
body{
	background-color: #E0FFFF;

}

.title {
	justify-content: center;
	margin: 20px 100px;
}
#root{
	margin-left: 100px;
}
.deep-pink{
	color: #FF1493
}
.gold{
	color: #FFD700
}
.medium-blue{
	color: #0000CD
}
@media only screen and (max-width: 630px){
	#root{
		margin-left:20px;
		flex-wrap: nowrap;
	}
	.title{
		margin: 20px 20px;
	}
}